<h1>Homepage</h1>
<ol class="post-list">
  {{#each posts}}
    <li>
      <h2>{{title}}</h2>
      <p>Posted by {{user.username}} on {{createdAt}}</p>
      <p>{{content}}</p>
    </li>
  {{/each}}
</ol>